body{
    background-color: rgb(237, 236, 236);
    border-radius: 200px;
    height: 2700px;
    
   
    

}

 ul li{
    float: right;
    display: inline;
    padding: 9px;
    font-size: 25px;
    color: rgb(7, 7, 204);
    margin-bottom: 20%;
    font-family: serif;
    margin-top: -1%;
    
} 
nav{
    margin-right: 35%;
    margin-top: 1%;
  
   
}
.lets{
     margin-left: 105%;
    
    
}
#btn{
    background-color: rgb(73, 73, 216);
    width: 70px;
    border-radius: 17px;
    margin-top: 95%;
}

.but{
   background-color: rgb(72, 72, 190); 
   border-radius: 14px;
   margin-left: 115%;
   margin-top: 2%;
   

}

    
h1{
    font-size: 22px;
    font-family: sans-serif;
    margin-left: 13%;
    margin-top: -2%;
    color: rgb(23, 23, 139) rgb(7, 6, 6);

}
.fire{
    margin-top: -3%;
    color: blue;
    margin-left: 10%;
}

.img img {
   margin-top: -12%;
   margin-left: 38%;
   background-image: url(/images/ra-removebg-preview.png);
   background-repeat: no-repeat;
}
.cam{
    margin-top: -29%;
    margin-left: 20%;
    font-size: 40px;
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    text-align: center;

}
.twit{
    margin-left: 26%;                         
    margin-top: -4%;
    font-size: 40px;
    background-color: rgb(53, 192, 53);
    width: 50px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    
}
.text h1{
    margin-top: 2%;
    margin-left: 2%;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(88, 38, 38);
}
.text p{
    font-family: sans-serif;
    margin-top: 3%;


}
#bat{
    
    background-color: blue;
    border-radius: 12px;
    font-size: 17px;
    margin-top: 4%;
}
.form{
    margin-top: -2.3%;
    background-color: rgb(127, 254, 254);
    width: 170px;
    height: 32px;
    border-radius: 12px;
    margin-left: 10%;
    
}
.form p{
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 29%;
    margin-top: -16%;
}


 #bin{
    border-radius: 40%;
    height: 30px;
    width: 30px;
    background-color: rgb(190, 190, 42);
    text-align: center;
} 
.num1{
    font-size: 30px;
    margin-top: 9%;
    margin-left: 6%;
  
    
}
.num2{
    font-size: 30px;
    margin-left: 39%;
    margin-top: -10%;
}
.num3{
    font-size: 30px;
    margin-left: 80%;
    margin-top: -10%;
}
.slack{
    font-size: 30px;
    margin-left: 6%;
    color: rgb(206, 187, 187);
    margin-top: 7%;
}
.pru{
    font-size: 30px;
    margin-left: 21%;
    margin-top: -2.9%;
    color: rgb(206, 187, 187);
}
.mic{
    margin-left: 40%;
    margin-top: -8%;
    height: 10px;
    width: 10px;

}
.zoo{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 73%;
    margin-top: 3.5%;
    color: rgb(206, 187, 187);
}
.sec3{
    background-color: rgb(248, 251, 251);
    height: 200px;
}

.sec3 h1{
   margin-top: 11%;
   margin-left: 40%;
}
.fir{
    font-size: 20px;
    color: rgb(192, 192, 4);
    margin-left: 36% ;
    margin-top: -16%;
}
.p{
    font-size: 30px;
    margin-top: -1%;
    font-family: sans-serif;
    margin-left: -10%;
    text-align: center;
    color: rgb(88, 38, 38);

}
.box1{
    width: 370px;
    height: 300px;
    margin-top: 7.3%;
    background-color: rgb(240, 246, 246);
    border-radius: 20px;
    margin-left: 6%;
}
.circle{
    font-size: 38px;
    color: rgb(70, 70, 207);
    margin-left: 43%;
    margin-top: 4%;
}
.h h1{
    margin-top: 5%;
    margin-left: 36%;
    font-size: 26px;
    font-family: sans-serif;
}
.h p{
    text-align: center;
    margin-top: 13%;
    font-size: 20px;
    font-family: sans-serif;
}
.h h2{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 30%;
}
.box2{
    width: 370px;
    height: 300px;
    margin-top: -24.8%;
    background-color: rgb(11, 184, 184);
    border-radius: 20px;
    margin-left: 35.5%;
}
.lap{
    font-size: 38px;
    border-radius: 42%;
    background-color: white;
    width: 46px;
    height: 44px;
    margin-left: 40%;
    align-items: center;
    margin-top: 4%;
}
.head h1{
    font-size: 26px;
    margin-left: 25%;
    margin-top: 5%;
}

.head p{
    text-align: center;
    margin-top: 13%;
    font-size: 20px;
    font-family: sans-serif; 
}

.head h2{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 30%;  
}
.box3{
    width: 370px;
    height: 300px;
    background-color: rgb(229, 232, 232);
    border-radius: 20px;
    margin-left: 64.8%;
    margin-top: -24%;
    
}
.rib{
    width: 44px;
    height: 44px;
    background-color: rgb(253, 253, 79); 
    border-radius: 42%;
    font-size: 34px;
    align-items: center;
    margin-left: 40%;
}
.header h1{
    font-size: 26px;
    margin-left: 28%;
    margin-top: 5%;
}

.header p{
    text-align: center;
    margin-top: 13%;
    font-size: 20px;
    font-family: sans-serif;
}

.header h2{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 30%; 
}
.pic{
    margin-top: 6%;
    background-image: url(/images/ra-removebg-preview.png);
    background-repeat: no-repeat;
}
.sec2 h1{
    margin-left: 66%;
    margin-top: -1.5%;
    font-size: 13px;
}
.fir2{
    margin-left: 76%;
    margin-top: -29%;
    color: rgb(167, 167, 7);
    font-size: 26px;
}
.sec2 p{
    font-size: 30px;
    margin-left: 64%;
    font-family: sans-serif;
    margin-top: 1%;
}
.one h1{
    background-color: rgb(231, 220, 220);
    height: 34px;
    width: 410px;
    font-size: 17px;
    margin-left: 60%;
    margin-top: 3%;
    text-align: center;
    border-radius: 15px;
}
.one p{
    background-color: rgb(68, 187, 25);
    font-size: 27px;
    width: 30px;
    height: 30px;
    margin-left: 60%;
    border-radius: 50px;
    text-align: center;
    margin-top: -3.6%;
}
.two h1{
    font-size: 17px;
    margin-left: 66%;
    margin-top: 4%;
}
.two p{
    background-color: rgb(27, 27, 219);
    font-size: 27px;
    width: 30px;
    height: 30px;
    margin-left: 60%;
    border-radius: 50px;
    text-align: center;
    margin-top: -3.1%;
}
.three h1{
    font-size: 17px;
    margin-left: 66%;
    margin-top: 4%;
}
.three p{
    background-color: rgb(233, 233, 37);
    font-size: 27px;
    width: 30px;
    height: 30px;
    margin-left: 60%;
    border-radius: 50px;
    text-align: center;
    margin-top: -3.6%;
}
.fom{
    width: 700px;
    height: 200px;
    background-color: rgb(244, 250, 250);
    border-radius: 30px;
    margin-left: 17%;
    margin-top: 7%;
}
.fom h1{
    font-size: 26px;
    font-family: sans-serif;
    margin-top: 16%;
    text-align: center;
    margin-left: -3%;
}
.fom p{
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    margin-left: -8%;

}
.info{
    font-size: 25px;
    display: flex;
    height: 72px;
    margin-top: 5%;
    background-color: rgb(3, 129, 129);
    border-radius: 25px;
    width: 670px;
    margin-left: 2%;
    
}

.btnn button{
    background-color: rgb(58, 73, 211);
    border-radius: 15px;
    margin-left: 440%;
    text-align: center;
    margin-top: 9%;
    text-align: center;
    
}
.info p{
    padding-top: -2%;
    margin-left: 12%;
    font-size: 16px;
    margin-top: 4%;
}

.last h1{
    font-size: 13px;
    font-family: sans-serif;
    margin-left: 19%;
    margin-top: 5%;
}
.fan{
    font-size: 34px;
    color: rgb(125, 125, 14);
    margin-left: 28%;
    margin-top: -3%;
}

.hed h1{
    font-size: 32px;
    margin-top: 1%;
}

.pic2{
    margin-left: 45%;
    background-image: url(/images/back-removebg-preview.png);width: 550px;
    background-repeat: no-repeat;
    margin-top: -14%;
}
.name h1{
    font-family: sans-serif;
    margin-top: -14%;
    margin-left: 15%;

}


.input{
    border-radius: 15%;
    margin-top: 1.5%;
    margin-left: 17%;
}

.txt h1{
    font-family: sans-serif;
    margin-top: 3%;
    margin-left: 15%;

}
.plc{
    margin-left: 17%;
    border-radius: 10px;
}
   
#btnn{
    background-color: rgb(93, 205, 209);
    height: 40px;
    border-radius: 25px;
    margin-left: 17%;
    
}
.bt{
    margin-top: 4%;
    
}
